<h1>Добро пожаловать в Meadowlark Travel</h1>
<p>Возникли вопросы? Перейдите на страницу <a href="/about" data-test-id="about">О нас</a></p>
<p>Хотите зарегистрироваться? Перейдите на страницу <a href="/newsletter" data-test-id="newsletter">Регистрация</a></p>
<p>Хотите частвовать в конкурсе отпускных фотографий? Перейдите на страницу <a href="/contest/vacation-photo-ajax" data-test-id="newsletter">Участвовать</a></p>
<h2>Игрища с куками</h2>
<p>Прочитать куку: <a href="/get-cookie">GET</a></p>
<p>Записать куку: <a href="/set-cookie">SET</a></p>
{{>weather}}