<h1>Добро пожаловать в Meadowlark Travel</h1>
<p>Возникли вопросы? Перейдите на страницу <a href="/about" data-test-id="about">О нас</a></p>
<p>Хотите зарегистрироваться? Перейдите на страницу <a href="/newsletter-signup" data-test-id="about">Регистрация</a></p>
{{>weather}}