{{#section 'head'}}
    <!-- Мы хотим, чтобы Google игнорировал эту страницу -->
    <meta name="robots" content="noindex">
    {{/section}}

<h1>Тестовая страница</h1>
    <p>Тестируем что-нибудь связанное со скриптом</p>

{{#section 'scripts'}}
    <script>
        document.querySelector('body')
        .insertAdjacentHTML('beforeend', '<small>(scripting works!)</small>')
    </script>

{{/section}}
